{% extends 'visitas_granada/plantilla.html' %}

{% load thumbnail %}
{% load crispy_forms_tags %}
           

{% block header_page %}
	
	<div class="container text-center">
	  <h1>Visita en Granada</h1>
	  <p class="lead">
			{% if listado_visitas %}
			    Se dispone de {{ listado_visitas|length }}
			{% else %}
			    0
			{% endif %}
	   visitas disponibles</p>
	</div>
	
{% endblock %}


{% block menu_izq %}
	<h1 class="my-4">Visitas</h1>
	<div class="list-group">
		{% if listado_visitas %}
	    	{% for visita in listado_visitas %}
			  <a href="{% url 'detail' visita.id %}" class="list-group-item"> {{visita.nombre}}</a>
		    {% endfor %}
		{% else %}
		    <p>No hay visitas disponibles.</p>
		{% endif %}
			
	</div>
{% endblock %}

{% block cuerpo %}

    <div class="row">
	{% if visita %}
	    <div class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container">
	    		<div class="row d-flex no-gutters">
	    			<div class="col-md-6 d-flex">
	    				 <!-- style="background-image: url({{ MEDIA_URL }}{{ visita.foto.name }});" -->
	    				<div class="img d-flex align-items-center justify-content-center py-md-0">
	    					{% thumbnail visita.foto "450x350" crop="center" as im %} 
							    <img class="card-img-top"  src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" >
							{% empty %}
							    <p>No image</p>
	    					{% endthumbnail %}
	    				</div>
	    			</div>
	    			<div class="col-md-6 pl-md-5 pt-md-5">
	    				<div class="row justify-content-start py-5">
							<div class="col-md-12 heading-section ftco-animate">
								<span class="subheading" id="likes">{{visita.likes}} likes recibidos</span>
								<h2 class="mb-4" id="nombre" >  {{visita.nombre}}</h2>
								<p id="descripcion">{{visita.descripcion}}</p>
							</div>
				        </div>
   	    				<div class="row justify-content-start py-5">
		                  {% if user.is_authenticated %}

   	    					<div class="col-sm-6">
						      	<button id="editar" type='button' class="w3-button w3-block w3-indigo"   data-toggle="tooltip" data-placement="top" title="Ver más" > 
					 			<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
					 		</button>

						     </div>
						     <!-- /.col-sm-6 -->
						     <div class="col-sm-6">
						       <button id="borrar" type='button' class="w3-button w3-block w3-indigo"   data-toggle="tooltip" data-placement="top" title="Ver más" > 
					 			<i class="fa fa-trash" aria-hidden="true"></i> Eliminar
					 		</button>
						     </div>

		                  {% else %}
		                  	<div class="col-sm-6">
						      	<a href="{% url 'login' %}" class="w3-button w3-block w3-indigo" > 
					 				<i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar
					 			</a>
		                     </div>
						     <!-- /.col-sm-6 -->
						     <div class="col-sm-6">
						       <a href="{% url 'login' %}" class="w3-button w3-block w3-indigo" > 
					 				<i class="fa fa-trash" aria-hidden="true"></i> Eliminar
					 			</a>
						     </div>
		                  {% endif %}
					 	</div>
			        </div>
	        	</div>
	    	</div>
	    </div>



	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">

	    	<!-- Modal content-->
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<h4 class="modal-title" id="tituloModal">Editar Visita</h4>
		        	<button type="button" class="close" data-dismiss="modal">&times;</button>

		     	</div>
<!-- 		     	          <form action="{% url 'add_visita' %}" method="post" enctype="multipart/form-data">
 -->
				<form method="POST" id="formData">

	      	      	<div class="col-md-12 modal-body" id="visita_edit">
	      	      		{% csrf_token %}
	        			{{ form_visita|crispy }}

	        			<h4><span id="error" class="badge badge-danger"></span></h4>

	        		</div>

					<div class="modal-footer">
							<hr class="col-md-11">
							<button type="button" data-dismiss="modal" class="btn">Cerrar</button>
						<button class="btn btn-primary" id="editar_visita" type="submit">Guardar cambios</button>

					</div>
				</form>
		    </div>

		</div>
	</div>


	<div class="modal" id="modalDelete" tabindex="-1" role="dialog">
	  	<div class="modal-dialog" role="document">
	    	<div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title">Eliminar Visita</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body" id="confirmMessage">
		      
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary" id="del_confirm">Aceptar</button>
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
		      </div>
	    	</div>
	  	</div>
	</div>

	{% else %}
	    <p>Visita no encontrada.</p>
	{% endif %}

 	</div> 	<!-- /.row -->
{% endblock %}


{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
  {% load static %}
  <script src="{% static 'bootstrap-notify.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
  		$("#error").hide();
  		var visita;
  		 //---------------editar -----------------------------
		$("#editar").on( 'click', function (e) {
			$("h4#tituloModal").text("Editar visita");
			$("#error").hide();
			$("#myModal").modal('show');

		 } );

		$("#formData").submit(function(e){
			e.preventDefault();
				editarVisita();

		});

		function editarVisita(){
			$("#errorCapitalize").hide();
			$('textarea[name="descripcion"]').css("border-color", "#ced4da");
			$.ajax({
					type: "POST",
					// url:"/detail/edit_visita/",
		            url: "{% url 'edit_visita' visita.id %}",
					data: $("#formData").serialize(),
					dataType: "json",
					success: function(result){
	
						//console.log(result.mensaje['nombre']);
						
						$("#nombre").html("<h2 id='nombre'>"+result.mensaje['nombre']+"</h2>");
	 					$('#descripcion').html("<p id='descripcion'>"+result.mensaje['descripcion']+"</p>");					
				
						$("#myModal").modal('toggle');
	          			notificacion('success','<strong>Guardando modificación</strong> espere por favor...',false,true,200);
   						$("#errorCapitalize").hide();
						$('textarea[name="descripcion"]').css("border-color", "#ced4da");

					},
			        error: function(result){
						// console.log("error al guardar");
						$('textarea[name="descripcion"]').css("border-color", "red");
						$('textarea[name="descripcion"]').after('<h5><span id="errorCapitalize" class="badge badge-danger" style="white-space:normal"</span></h5>');
			        	// alert(JSON.stringify(result.responseJSON.mensaje))
			            $("#errorCapitalize").text(result.responseJSON.mensaje.descripcion);
			            $("#errorCapitalize").show();
			       	 }
				})
			};

		var MESSAGE_STRING_CONST = "  <p>¿Estas seguro que desea eliminar esta visita?</p>";


		$("#borrar").on( 'click', function (e) {
			$("#modalDelete").modal('show');
    			confirmDialog(MESSAGE_STRING_CONST, function(){
	          	// console.log("deleted!");
	          	var url = "{% url 'del_visita' visita.id %}";
	          	document.location.href = "{% url 'del_visita' visita.id %}";
    		});
    	});

        function confirmDialog(message, onConfirm){
    	    var fClose = function(){
    			  modal.modal("hide");
    	    };
    	    var modal = $("#confirmModal");
    	    modal.modal("show");
    	    $("#confirmMessage").empty().append(message);
    	    $("#del_confirm").unbind().one('click', onConfirm).one('click', fClose);
        }

		function notificacion(tipo,mensaje,allow_dismiss,progressbar, delay){
			  var notify = $.notify({
			      message: mensaje
			    },{
			      // settings
			      element: 'body',
			      position: null,
			      type: tipo,
			      allow_dismiss: allow_dismiss,
			      showProgressbar: progressbar,
			      placement: {
			        from: "top",
			        align: "center"
			      },delay: delay
			    });
			};
    });
  </script>

{% endblock %}

