{% extends "visitas_granada/plantilla.html" %}
{% load i18n %}

{% block header_page %}
<div class="container">

  <div class="row" style="margin-top:100px">
    <center><h2>Cambiar Contraseña</h2></center>
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <hr class="colorgraph">
      <form method="post" action=".">
          {% csrf_token %}

          <p><input autofocus="" id="id_old_password" class="form-control input-md" name="old_password" type="password" placeholder="Old password" required /></p>
        <p><input id="id_new_password1" class="form-control input-md" name="new_password1" type="password" placeholder="New password"  required /> <span class="helptext"><ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul></span></p>
        <p><input id="id_new_password2" class="form-control input-md" name="new_password2" type="password" placeholder="New password confirmation" required /></p>
        <hr class="colorgraph">
        <input type="submit" class="btn btn-sm btn-success btn-block" value="{% trans 'Guardar cambios' %}" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
