
header {
  padding: 100px 0 48px;
}

.cuerpo {
  padding: 50px 0;
}

.card-text{

 overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
 /*white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;*/
}

.pt-md-5, .py-md-5 {
    padding-top: 0rem!important;
}

 #ubi_visita { 
    width: 100%;
    min-height: 300px;
    box-shadow: 5px 5px 5px #888;
 }

  /*display: block;*/

.heading-section .subheading {
  font-size: 12px;
  font-weight: 500;
  color: #2b98f0;
  text-transform: uppercase;
  letter-spacing: 1px; }

.heading-section h2 {
  font-size: 44px;
  font-weight: 300; }
  
@media (max-width: 767.98px) {
  .heading-section h2 {
      font-size: 28px; } }

.heading-section.heading-section-white .subheading {
  color: rgba(255, 255, 255, 0.8); }

.heading-section.heading-section-white h2 {
  color: #fff; }

.heading-section.heading-section-white p {
  color: rgba(255, 255, 255, 0.9); }

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.pt-5,
.py-5 {
  padding-top: 3rem !important; }

.pr-5,
.px-5 {
  padding-right: 3rem !important; }

.pb-5,
.py-5 {
  padding-bottom: 3rem !important; }


.ftco-section {
  padding: 7em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-no-pt {
  padding-top: 0 !important; }

.ftco-no-pb {
  padding-bottom: 0 !important; }


.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }


.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important; }


#mensaje{
  margin:auto;
  position:fixed;
}

.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #0480be;
    color:white;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }

.navbar-nav .dropdown-menu {
    padding: 10px !important;
    width: 168px !important;
}