{% extends "visitas_granada/plantilla.html" %}
{% load i18n %}

{% block header_page %}
<div class="container">

  <div class="row justify-content-center" style="margin-top:100px">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
      <fieldset>

        <center><h2>¿Olvidaste tu contraseña?</h2></center>

        <hr class="colorgraph">
        <form method="post" action=".">
          {% csrf_token %}
          <input id="id_email" class="form-control input-lg" placeholder="Email" maxlength="254" name="email" type="email" required /></p>
          <hr class="colorgraph">
          <input type="submit" class="btn btn-sm btn-success btn-block" value="{% trans 'Resetear Contraseña' %}" />
        </form>
      </fieldset>
    </div>
  </div>
</div>
{% endblock %}
